* {
margin: 0; 
padding: 0; 
box-sizing: border-box;
}  
body { 
    background-image: url(pupil.jpg); 
    background-repeat: no-repeat; 
    background-size: 49%;
}
.header__little { 
    color: var(--800, #2D3748);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
} 
.header { 
    color: var(--900, #1A202C);
margin-bottom: 15px;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
} 
.border { 
    width: 350px;
height: 50px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #E8E8E8; 
text-align: center; 
padding-top: 12px;

} 
.shrink {
    width: 15px;
    height: 15px;
    flex-shrink: 0;

    fill: var(--100, #F7FAFC);
    stroke-width: 1px;
    stroke: #E8E8E8;
} 
.last { 
    color: var(--800#2D3748);
   margin-top: 10px;
 margin-bottom: 10px;
   font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;  


}  
.last2 { 
 color: var(--800, #2C5282);
font-size: 14px;
font-weight: 400; 
margin-left: 136px;

}



.image{ 
    display:flex; 
    width: 1000px; 
    height: 1000px; 
    display: flex; 
   
} 
.obshi { 
    margin: 30px;
  margin-left: 60%; 
margin-top: 150px; 
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.box { 
    text-align: center; 
    padding: 12px; 
    color: white; 
    
} 
.box1 { 
    width: 347px;
height: 50px;
flex-shrink: 0;
border-radius: 5px;
background: #04C35C; 
margin-top: 10px;
} 
.box2 { 
    width: 347px;
height: 50px;
flex-shrink: 0;
margin-top: 10px;
border-radius: 5px;
background: var(--800, #2D3748);
} 
.main__last { 
    display: flex;
}  
.main__last__last { 
    margin-top: 180px; 
margin-left: 30px;
}
